body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #090223;
  background-color: #1c0669;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #b09df6;
  border-radius: 8px;
}
h1,
h2 {
  color: #1c0669;
}
.header {
  text-align: center;
}
.header h1 {
  margin: 10px 0;
}
.contact {
  margin: 10px 0;
  font-size: 14px;
}
.contact a {
  color: #2b186f;
  text-decoration: none;
}

.project {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-desc,
.project-name {
  width: 90%;
}

.project-desc,
.project-name,
.project-page-link {
  margin: 10px;
  text-align: center;
}

#nav-section,
.project {
  background-color: #a28bf6;
}

.project-link {
  color: #2b186f;
}

.project-page-link {
  background-color: #2b186f;
  color: #b09df6;
  text-decoration: none;
  padding: 7px;
  border-radius: 7px;
}

.section {
  margin: 20px 0;
}
.section h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #090223;
  padding-bottom: 5px;
}
.item {
  margin-bottom: 15px;
}
.item h3 {
  margin: 0;
  font-size: 20px;
  color: #090223;
}
.item p {
  margin: 5px 0;
  font-size: 16px;
  color: #090223;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills ul li {
  display: inline-block;
  background: #090223;
  color: #d8cdff;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(18, fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}

#nav-section {
  width: 750px;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  margin: auto;
}

#nav-section a {
  text-decoration: none;
  font-size: 1.2 rem;
  font-weight: 600;
  color: #2b186f;
}

#nav-section a:hover {
  text-decoration: underline;
}

#project-header {
  text-align: center;
}

@media screen and (max-width: 500px) {
  body {
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #card-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  #nav-section {
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    display: flex;
    align-items: center;
  }
}
